/* General Styling for the Music Div */
.music {
  margin-bottom: 50px;
}

/* Styling for the Volume Text */
#volume-text {
  color: #a453a6;
  font-size: 20px;
}

/* Styling for the Volume Control Slider */
#volume-control {
  width: 200px;
  margin: 10px 0;
}

/* Sliders Styling */
input[type="range"] {
  appearance: none;
  width: 120px;
  height: 10px;
  background: #a453a6;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

/* Styling for the Mute Button */
#mute-button {
  background-color: #d98fcc;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Autour One', sans-serif;
}

/* Hover Effect for the Mute Button */
#mute-button:hover {
  background-color: #A64182;
}