@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Autour+One&display=swap');

/* Resets Margin and Padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets Font and Background for the Page */
html,
body {
  font-family: 'Autour One', sans-serif;
  background-color: #ffe4e1;
  height: 100%;
  width: 100%;
  /* Prevent horizontal scroll */
  overflow-x: hidden;
}

/* Body Layout Settings */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-top: 100px;
}

/* Container for the Main Content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 90%;
  max-width: 1200px;
}